@model HCS.Models.TicketReceiveAppViewModels
@{
    ViewBag.Title = "Stock Approve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Stock Approve Partial</h3>
<hr />

@using (Html.BeginForm("EditComRec", "Tickets", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmEditComRec" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ViewTicketReceive", Model.TicketDetail)
    @Html.HiddenFor(model => model.TicketId)
    @Html.HiddenFor(model => model.ReceiveId)

    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <input type="submit" value="Approve" class="btn btn-default" style="width:100px" />
            </div>
        </div>

    </div>
 
}

<div>
    @Html.ActionLink("Back to List", "EditCom", new { id = Model.TicketId })
</div>



