@model IEnumerable<HSH.Data.Models.MemberCallForceViewModels>
@{
    ViewBag.Title = "รายการคอลฟอร์ส";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title</h3>
<hr />

@using (Html.BeginForm("Index", "MemberCallForce", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmCall" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-6">
        </div>
        <div class="col-md-2">
            @Html.DropDownList("ddlMemberType", (SelectList)ViewBag.MemberTypeList, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            @Html.TextBox("Keyword", "", new { @class = "form-control", placeholder = "ค้นหาชื่อหรือรหัส" })
        </div>
        <div class="col-md-1">
            <button type="button" id="btnSearch" name="btnSearch" data-loading-text="Loading..." class="btn btn-primary">Search</button>
        </div>
    </div>
}


<div id="divTable">
    @Html.Partial("Find", Model)
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script language="javascript" type="text/javascript">
        $(function () {

            $("#Keyword").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $("#btnSearch").click();
                }
            });

            $("#btnSearch").click(function () {
                var btn = $(this);
                btn.button('loading');
                $.ajax({
                    type: "POST",
                    url: "@Url.Content("~/MemberCallForce/Index")",
                    data: $("#frmCall").serialize(),
                    success: function (e) {
                        if (e.toString().indexOf("@HSH.Data.Helper.StringHelper.stringPartialViewKey") > -1) {
                            $("#divTable").html(e);
                            btn.button('reset');
                        } else {
                            top.window.location.href = "@HSH.Data.Helper.StringHelper.stringLocationHrefLogin";
                        }
                    }
                });
            });
            $("#btnSearch").click();
        });


    </script>
}



