@model HSH.Data.Models.TicketPayApproveViewModels
@{
    ViewBag.Title = "ยืนยันอนุมัติการจ่ายเงิน";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title</h3>
<hr />

@using (Html.BeginForm("EditApp", "TicketPay", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmEditApp", name = "frmEditApp" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("TicketDetail", Model.Ticket)


    @Html.HiddenFor(model => model.PayId)
    <div class="form-group">
        <div class="text-center">
            @*<input type="button" value="Approve" onclick="bsDialog(this);" class="btn btn-default" style="width:100px" />*@
            <input type="submit" value="Approve" class="btn btn-default" style="width:200px" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "IndexApp")
</div>







