@model IEnumerable<HSH.Data.Models.TicketPayApproveViewModels>

@if (Model != null)
{
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered table-responsive">
            <tr class="info">
                <th class="text-center">เลขที่บัญชีซื้อขายทองคำ</th>
                <th class="text-center">ชื่อสมาชิก</th>
                <th class="text-center">รหัสออเดอร์</th>
                <th class="text-center">วันที่</th>
                <th class="text-center">โดย</th>
                <th class="text-center">ประเภท</th>
                <th class="text-center">จำนวนทอง</th>
                <th class="text-center">ราคา</th>
                <th class="text-center">จำนวนเงิน</th>
                <th class="text-center">สถานะ</th>
                <th class="text-center"></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.MemberRef)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.PayRef)
                    </td>
                    <td class="text-center">
                        @*@item.CreateDate.ToString(HSH.Data.Helper.StringHelper.formatdate)*@
                        @HSH.Data.Helper.StringHelper.ToStringDateTimeFormat(item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateBy)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.TicketType)
                    </td>
                    <td class="text-right">
                        @HSH.Data.Helper.StringHelper.ToStringCurrency(item.Quantity.ToString())
                    </td>
                    <td class="text-right">
                        @HSH.Data.Helper.StringHelper.ToStringCurrency(item.Price.ToString())
                    </td>
                    <td class="text-right">
                        @HSH.Data.Helper.StringHelper.ToStringCurrency(item.Amount.ToString())
                    </td>
                    <td class="text-center">
                       @if (item.Status == HSH.Data.Helper.EnumHelper.TicketSellStatus.Cut.ToString())
                       {
                        <span class="label label-primary">@HSH.Data.Helper.EnumHelper.GetDescription(@HSH.Data.Helper.EnumHelper.TicketSellStatus.Cut)</span>
                       }
                       else if (item.Status == HSH.Data.Helper.EnumHelper.TicketSellStatus.Send.ToString())
                       {
                        <span class="label label-default">@HSH.Data.Helper.EnumHelper.GetDescription(@HSH.Data.Helper.EnumHelper.TicketSellStatus.Send)</span>
                       }
                       else if (item.Status == HSH.Data.Helper.EnumHelper.TicketSellStatus.WaitCash.ToString())
                       {
                        <span class="label label-info">@HSH.Data.Helper.EnumHelper.GetDescription(@HSH.Data.Helper.EnumHelper.TicketSellStatus.WaitCash)</span>
                       }
                    </td>
                    <td class="text-center" style="width:100px">
                        @if (item.Approved)
                        {
                            @Html.ActionLink("Approve", "EditCom", new { id = item.PayId })
                        }
                        else
                        {
                            <span class="label label-success">Approved</span>
                        }
                    </td>
                </tr>
            }
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="14" class="text-center text-danger"> @HSH.Data.Helper.StringHelper.stringNotFound.ToString() </td>
                </tr>
            }

        </table>
    </div>
}


